body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/* === TENTANG KAMI === */
.about-section {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.about-box {
    background: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 30px;
    max-width: 900px;
    align-items: center;
}

.about-img {
    width: 300px;
    border-radius: 15px;
}

.about-text h2 {
    margin-top: 0;
}

/* === SEJARAH === */
.history-section {
    padding: 40px 60px;
}

.history-section h2 {
    margin-bottom: 15px;
}

/* === VISI & MISI === */
.visi-misi-section {
    display: flex;
    padding: 40px;
    gap: 30px;
    flex-wrap: wrap;
}

.visi-box, .misi-box {
    flex: 1;
    min-width: 300px;
    background: #e6e6e6;
    padding: 25px;
    border-radius: 20px;
}

.misi-box {
    background: #d50000;
    color: white;
}

/* === STRUKTUR ORGANISASI === */
.struktur-section {
    padding: 40px;
    text-align: center;
}

.struktur-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.box {
    background: #dcdcdc;
    padding: 20px 30px;
    border-radius: 20px;
    min-width: 230px;
}

.small-box {
    min-width: 180px;
}

/* Responsive */
@media(max-width: 768px){
    .about-box {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
    }
}

/* Footer */
footer {
  background-color: #b10f0f;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 40px 60px 10px;
}

/* Wadah keseluruhan */
.footer-container {
  max-width: 1200px;
  margin: auto;
}
